* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body.login-page {
    background: url('/Users/urja/Desktop/project/images/wpproject.jpg ') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .nav-links a:hover {
    color: #cc0000;
    border-bottom: 2px solid #cc0000;
  }
  
  .login-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 60px 40px;
    border-radius: 15px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    margin-top: 80px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 25px;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background: #333;
    color: white;
    font-size: 1rem;
  }
  
  .input-field:focus {
    border-color: #cc0000;
    outline: none;
  }
  
  .btn {
    padding: 10px 30px;
    background: #b21d1d;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 5px 10px rgba(224, 154, 154, 0.2);
  }
  
  .btn:hover {
    background: #680000;
    transform: scale(1.05);
  }
  
  .signup-redirect {
    margin-top: 15px;
    font-size: 1rem;
  }
  
  .signup-link {
    color: #ccc;
    text-decoration: none;
  }
  
  .signup-link:hover {
    color: #cc0000;
  }
  